# Database
DB_PORT=5432
DB_NAME=pendl
DB_USER=pendl
DB_PASSWORD=pendl
# GTFS Configuration (SL - Storstockholms Lokaltrafik)
# Get your API key from Trafiklab.se
GTFS_STATIC_URL=https://opendata.samtrafiken.se/gtfs-sweden/sweden.zip
GTFS_REALTIME_TRIP_UPDATES_URL=https://opendata.samtrafiken.se/gtfs-rt-sweden/sl/TripUpdatesSweden.pb
GTFS_REALTIME_VEHICLE_POSITIONS_URL=https://opendata.samtrafiken.se/gtfs-rt-sweden/sl/VehiclePositionsSweden.pb
GTFS_REALTIME_ALERTS_URL=https://opendata.samtrafiken.se/gtfs-rt-sweden/sl/ServiceAlertsSweden.pb
GTFS_REALTIME_KEY=key1
GTFS_STATIC_KEY=key2
GTFS_VEHICLE_UPDATE_INTERVAL=10000
GTFS_TRIP_UPDATE_INTERVAL=30000
GTFS_SERVICE_ALERT_UPDATE_INTERVAL=30000

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
APP_PORT=3000
