# Database
DB_PORT=5432
DB_NAME=pendl
DB_USER=pendl
DB_PASSWORD=pendl
# GTFS Configuration (SL - Storstockholms Lokaltrafik)
# Get your API key from Trafiklab.se
GTFS_REALTIME_KEY=key1
GTFS_STATIC_KEY=key2
GTFS_VEHICLE_UPDATE_INTERVAL=10000
GTFS_TRIP_UPDATE_INTERVAL=30000
GTFS_SERVICE_ALERT_UPDATE_INTERVAL=30000

# InfluxDB (optional analytics)
INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=
INFLUXDB_INTERVAL=600000

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
APP_PORT=3000
